.sentenceTextContainer {
	position: fixed;
	margin-bottom: 120px;
	height: 80px;
	display: flex;
	flex-direction: column;
	z-index: 1200;
	color: white;
	pointer-events: none;
}

.sentenceTranslationText,
.sentenceJapaneseText {
	text-align: center;
}

.sentenceTranslationText {
	font-size: 18px;
	font-weight: 700;
}

.sentenceJapaneseText {
	bottom: 0;
	font-size: 30px;
	margin-top: auto;
}

.sentenceJapaneseText ruby {
	ruby-position: over;
}

.sentenceJapaneseText rt {
	font-size: 14px;
}
