.accountMenuUserMenu {
	position: relative;
}

.accountMenuUserButton {
	max-width: min(240px, calc(100vw - 36px));
	padding: 10px 0;
	overflow: hidden;
	border: 0;
	background: transparent;
	color: white;

	font-size: 14px;
	font-weight: 850;
	line-height: 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.accountMenuUserButton:hover {
	text-decoration: underline;
}
