.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.sentenceElementsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.sentenceText {
	display: flex;
	position: absolute;
	flex-direction: row;
	margin-bottom: 200px;
	color: white;
	font-size: 30px;
}

.addButton {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	overflow: hidden;
	border-radius: 10px;
	color: grey;
	font-size: 40px;
	cursor: pointer;
	transition: width 0.3s ease;
}

/* ELEMENT OPTIONS MENU */
.elementOptionsMenuContainer {
	position: absolute;
	bottom: 130%;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	justify-self: center;
	gap: 10px;
}

.elementOptionsMenuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 20px;
	border: none;
	border-radius: 5px;
	background: lightgrey;
	color: black;
	font-size: 16px;
	white-space: nowrap;
	cursor: pointer;
}

.elementOptionsMenuButton:hover {
	background: grey;
}

.elementOptionsMenuButton:active {
	background: black;
	color: white;
}

.deleteElementButtonContainer {
	display: flex;
	padding: 10px;
	border-radius: 0 0 10px 10px;
}

.deleteElementButton {
	flex: 1;
	background-color: red;
	color: white;
}

.deleteElementButton:hover {
	background-color: darkred;
}

.categoryModalContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 8px;
	border-radius: 8px;
	background: grey;
	z-index: 100;
}

.elementListContainer {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	border-radius: 10px;
	background: grey;
	z-index: 999;
}

.elementListItemContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	overflow-y: auto;
}

.searchInputContainer {
	display: flex;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	background-color: grey;
}

.searchInput {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.modalContainer {
	position: relative;
}

/* ELEMENTS */

.elementText {
	font-size: 40px;
	color: white;
}

.elementContainer {
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
}

.baseElement {
	display: flex;
	align-items: center;
	gap: 5px;
}

.baseInsideElement {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	border-radius: 10px;
	color: white;
	font-size: 40px;
	cursor: pointer;
}

.particleElement {
	background: grey;
}

.counterInput {
	border: none;
	padding-left: 20px;
	padding-right: 0;
	align-items: center;
	justify-self: center;
	justify-content: center;
}

.counterInput:focus {
	outline: 2px solid white;
}
