:root {
	/* GREEN */
	--color-green-text: rgb(119, 224, 147);
	--color-green-border: rgba(78, 196, 126, 0.46);
	--color-green-border-hover: rgba(78, 196, 126, 0.72);
	--color-green-background: rgba(78, 196, 126, 0.18);
	--color-green-background-hover: rgba(78, 196, 126, 0.3);

	/* ORANGE */
	--color-warning-subtle-border: rgba(255, 201, 92, 0.44);

	/* GREY */
	--color-grey-border: #323232;
	--color-grey-border-trans: rgba(110, 110, 110, 0.8);
	--color-grey-background: #1d1d1d;
	--color-grey-text: #ababab;

	--color-app-background: #0e0e0e;

	--color-lightgrey1-background: #202124;
	--color-lightgrey2-background: #2b2d31;
	--color-shadow: rgba(0, 0, 0, 0.35);

	/* WHITE */
	--color-white-border: #a2a2a2;
	--color-white-background: #434343;
	--color-white-border-hover: #c3c3c3;
	--color-white-background-hover: #545454;

	/* GOLD */
	--color-gold-background: #635016;
	--color-gold-border: #c89528;
	--color-gold-background-hover: #927520;
	--color-gold-border-hover: #ffbe32;

	/* BLUE */
	--color-blue-background: #2c3e5d;
	--color-blue-border: #8ab4ff;

	/* RED */
	--color-red-text: #d15959;
	--color-red-background: #492626;
	--color-red-border: #9c4343;
	--color-red-background-hover: #693737;
	--color-red-border-hover: #bb5050;

	/* ELEMENTS */
	--color-element-border: rgba(255, 255, 255, 0.2);

	--color-element-noun-primary: rgba(255, 138, 138, 0.72);
	--color-element-noun-secondary: rgba(255, 138, 138, 0.24);
	--color-element-adjective-primary: rgba(255, 184, 112, 0.74);
	--color-element-adjective-secondary: rgba(255, 184, 112, 0.24);
	--color-element-verb-primary: rgba(138, 180, 255, 0.74);
	--color-element-verb-secondary: rgba(138, 180, 255, 0.24);
	--color-element-adverb-primary: rgba(139, 199, 149, 0.72);
	--color-element-adverb-secondary: rgba(139, 199, 149, 0.24);
	--color-element-counter-primary: rgba(207, 143, 255, 0.72);
	--color-element-counter-secondary: rgba(207, 143, 255, 0.24);
	--color-element-desu-primary: rgba(130, 204, 214, 0.72);
	--color-element-desu-secondary: rgba(130, 204, 214, 0.24);
	--color-element-punctuation-primary: rgba(180, 184, 191, 0.72);
	--color-element-punctuation-secondary: rgba(180, 184, 191, 0.24);
	--color-element-default-primary: rgba(255, 255, 255, 0.18);
	--color-element-default-secondary: rgba(255, 255, 255, 0.12);
	--color-element-particle-background: rgba(255, 119, 148, 0.24);
}
